# ------------------------
# Raw sequencing data
# ------------------------
raw_files/
*.fastq
*.fastq.gz

# ------------------------
# Large reference assets
# ------------------------
classifier/
*.qza
*.qzv
*.biom

# ------------------------
# Nextflow
# ------------------------
work/
.nextflow*
trace.txt
timeline.html
report.html
dag.html

# ------------------------
# Outputs
# ------------------------
outputs/
results/
exported/
test_run1_outputs/
test_run1_results/
qiime_output/

# ------------------------
# Logs
# ------------------------
*.log
*.out
*.err
slurm-*.out
slurm-*.err

# ------------------------
# Jupyter
# ------------------------
*.ipynb_checkpoints/

# ------------------------
# Temp files
# ------------------------
*.tmp
*~
.DS_Store
