# === Ignore raw sequencing data ===
raw_files/
*.fastq
*.fastq.gz

# ignore classifier
classifier/
*.png
*.csv
*.tsv

# Notebooks
*.ipynb
*.ipynb_checkpoints/

# scripts
scripts/export.slurm
scripts/diversity.slurm
scripts/relative_frequency.slurm
scripts/barplot.sh
scripts/collapse_genus.slurm
scripts/rep_seqs_exported/
scripts/untitled.md

# === Ignore intermediate QIIME2 files ===
*.qza
*.qzv
*.biom
*.err
*.out
# === Ignore result/output folders ===
qiime_output/
*.log
*.tmp

# === Ignore temporary or backup files ===
*~
.DS_Store
