process {
  executor = 'slurm'
 // queue = 'batch'
  cpus = 4
  memory = '8 GB'
  time = '2h'
  errorStrategy = 'retry'
  maxRetries = 2

  clusterOptions = '--output=slurm-%j.out --error=slurm-%j.err --mail-type=ALL --mail-user=dermot.kelly@teagasc.ie'
}

params {
  base_dir    = "$PWD"
  manifest    = "$base_dir/manifest_files/test_run1_manifest.tsv"
  classifier  = "$base_dir/classifier/silva-138-99-341F-806R-classifier.qza"
  output_dir  = "$base_dir/test_run1_outputs"
  results_dir = "$base_dir/test_run1_results"
  prefix      = "run1"
}
